.footer {
  height: 50px;
  background: #343a40;
  height: 50px;
  color: #fff;
  text-align: center;
  line-height: 50px;

  &__heart {
    color: red;
  }

  &__link {
    color: red;

    &:hover {
      color: darkred;
    }
  }
}
