.reaction {
  flex: 1;

  &__icon {
    padding: 10px;
    border-radius: 50%;
    font-size: 20px;
    &:hover {
      cursor: pointer;
      transform: scale(1.1, 1.1);
    }
  }

  &__like {
    color: #fff;
    background-color: deepskyblue;
  }

  &__love {
    color: #fff;
    background-color: red;
  }

  &__count {
    margin: 0 5px;
    font-size: 20px;
    font-weight: bold;
  }
}
